%% {sub_dirs, ["rel"]}.

{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}]}.

{escript_incl_apps, [lager, riakc, poolcat, gen_queue,
                     goldrush, protobuffs, riak_pb, ecsv, jsx]}.

{deps,[
       {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.2"}}},
       {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "1.4"}}},
       {ecsv, ".*", {git, "git://github.com/refuge/ecsv.git", {tag, "0.3"}}},
       {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.5"}}},
       {poolcat, ".*", {git, "git://github.com/kuenishi/poolcat", {tag, "0.0.2"}}}
      ]}.
